.input{
    background-color: cornsilk;
    padding: 5px 10px;
    border: 1px solid red;
}

.layout{
    padding: 5px 10px;
    border: 1px solid red;
}

.button{
    color: whitesmoke;
    padding: 5px 10px;
    border: 1px solid red;
    cursor: pointer;
    width: 200px;
    border-radius: 9px;
}

