.input{
    background-color: cornsilk;
    padding: 5px 10px;
    border: 1px solid red;
}

.identitas{
    background-color: antiquewhite;
    padding: 5px 10px;
    border: 1px solid crimson;
    width: 150px;
    height: 150px;
}

.kotak1{
    display: flex ;
    justify-content: space-between;
}

/* .section{
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-around;
} */