.input{
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    color: purple;
    border-radius: 9px;
}

.layout{
    padding: 5px 10px;
    border: 1px solid purple;
    
}

.button{
    color: whitesmoke;
    padding: 5px 10px;
    border: 1px solid white;
    cursor: pointer;
    width: 145px;
    border-radius: 9px;
}

.input{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.input-text{
    padding: 5px 5px;
    border-radius: 3px;
    width: 95%;
}

.error{
    color: red;
    font-style: italic;
    font-size: 10px;
    font-weight: bold;
}

.delete{
    background-color: red;
    color: white;
    width: 50%;
    border-radius: 7px;     
}

.update{
    background-color: blue;
    color: white;
    width: 50%;
    border-radius: 7px;
}

.index{
    border: 1px solid grey ;
    width: 400px;
    box-shadow: 5px 5px;
    height: 300px;
    border-radius: 25px;
}


